// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


@background-color-error-multiple: #ff9933;
@background-color-error: #dd1133;
@background-color-warning: #f2be55;
@background-color-level: #999999;

@kt-padding: 1rem;


.kt-stats{
    padding: @kt-padding;
    padding-top: @kt-padding/2;
    .value{
        float: right;
        padding-left: @kt-padding;
        min-width: 3rem;
        text-align: right;
    }
    .value.main{
        font-weight: bold;
    }
    .label{
        &:after{
            content: ':'
        }
        display: inline;
    }
    h5{
        border-top: 1px solid fade(#333333, 20%);
        color: fade(#333333, 50%);
    }
}
.atom-kt-advance {

}

atom-text-editor .kt-assumption,
atom-text-editor::shadow .kt-assumption{
    .region{
        background: fade(@background-color-error-multiple, 50%);
        min-width: 10px;
        height: 10px;
        border-radius: 3px;
        border: 1px solid white;
    }
}

atom-text-editor .kt-message,
atom-text-editor::shadow .kt-message{
    .region{
        background: fade(@background-color-error, 20%);
        min-width: 10px;
        height: 10px;
        border-radius: 3px;
        border: 1px solid white;
    }
}

atom-text-editor::shadow #kt-location,
#kt-location{
    color: @background-color-warning!important;
    text-decoration: underline;
}

hr.issue-split{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.linter-highlight,
atom-text-editor::shadow .linter-highlight {
    &.violation {
        &:not(.line-number) {
            background-color: @background-color-error;
            color: white;
        }

        .linter-gutter {
            color: @background-color-error;
        }

        .region {
            border-bottom: 1px dashed @background-color-error;
        }
    }

    &.multiple  {
        &:not(.line-number) {
            background-color: @background-color-error-multiple;
            color: white;
        }

        .linter-gutter {
            color: @background-color-error-multiple;
        }

        .region {
            border-bottom: 1px dashed @background-color-error-multiple;
        }
    }

    &.level {
        &:not(.line-number) {
            background-color: @background-color-level;
            color: white;
        }

        .linter-gutter {
            color: @background-color-level;
        }

        .region {
            border-bottom: 1px dashed @background-color-level;
        }
    }

    &.obsolete {
        &:not(.line-number) {
            background-color: @background-color-level;
            color: white;
        }

        .linter-gutter {
            color: @background-color-level;
        }

        .region {
            border-bottom: 1px dashed @background-color-level;
        }
    }


    &.crossed {
        &:not(.line-number) {
            text-decoration: line-through!important;
        }
    }



    &.open {
        &:not(.line-number) {
            background-color: @background-color-warning;
            color: white;
        }

        .linter-gutter {
            color: @background-color-warning;
        }

        .region {
            border-bottom: 1px dashed @background-color-warning;
        }
    }
}
