// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


@background-color-error-multiple: #ff9933;
@background-color-error: #dd1133;
@background-color-warning: #f2be55;
@background-color-level: #999999;

@kt-padding: 1rem;

.kt-width{
    max-width: 8cm;
}
.kt-wider{
    min-width: 8rem!important;
    // padding-left: 2rem!important;
}

.kt-hidden{
    display: none;
}

.kt-stats{

    .error{
        overflow: scroll;
        display: block;
        width: 100%;
    }
    button{
        margin-top: @kt-padding*2;
    }



    padding: @kt-padding;
    padding-top: @kt-padding/2;
    .value{
        float: right;
        padding-left: @kt-padding;
        min-width: 3rem;
        text-align: right;
    }
    .value.main{
        font-weight: bold;

        border-radius: 3px;
    }
    .label{
        &:after{
            content: ':'
        }
        display: inline;
    }
    h5{
        font-weight: 200;
        padding-top: @kt-padding;
        padding-bottom: @kt-padding/4;
        margin-bottom: @kt-padding/4;
        border-bottom: 1px solid fade(#999999, 20%);
        font-size: 120%;
    }

    .violation{
        color: @background-color-error;
    }

    .open{
        color: @background-color-warning;
    }
}
.atom-kt-advance {

}

atom-text-editor .kt-assumption,
atom-text-editor::shadow .kt-assumption{
    .region{
        // background: fade(@background-color-error-multiple, 50%);
        min-width: 10px;
        height: 10px;
        // border-radius: 3px;
        // border: 1px dotted @background-color-error-multiple;
    }

    
}

linter-message, linter-message::shadow {
    .po-links{
        max-height: 100px;
        overflow: scroll;
        margin-left: 15px;
        padding: 5px;
        // background: fade(@background-color-level, 20%);
    }
}

atom-text-editor .kt-message,
atom-text-editor::shadow .kt-message{
    .region{
        background: fade(@background-color-error, 20%);
        min-width: 10px;
        height: 10px;
        border-radius: 3px;
        border: 1px solid white;
    }
}

atom-text-editor::shadow #kt-location,
#kt-location{
    color: @background-color-warning!important;
    text-decoration: underline;
}

hr.issue-split{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.linter-highlight,
atom-text-editor::shadow .linter-highlight {
    &.violation {
        &:not(.line-number) {
            background-color: @background-color-error;
            color: white;
        }

        .linter-gutter {
            color: @background-color-error;
        }

        .region {
            border-bottom: 1px dashed @background-color-error;
        }
    }

    &.multiple  {
        &:not(.line-number) {
            background-color: @background-color-error-multiple;
            color: white;
        }

        .linter-gutter {
            color: @background-color-error-multiple;
        }

        .region {
            border-bottom: 1px dashed @background-color-error-multiple;
        }
    }

    &.level {
        &:not(.line-number) {
            background-color: @background-color-level;
            color: white;
        }

        .linter-gutter {
            color: @background-color-level;
        }

        .region {
            border-bottom: 1px dashed @background-color-level;
        }
    }

    &.obsolete {
        &:not(.line-number) {
            background-color: @background-color-level;
            color: white;
        }

        .linter-gutter {
            color: @background-color-level;
        }

        .region {
            border-bottom: 1px dashed @background-color-level;
        }
    }


    &.crossed {
        &:not(.line-number) {
            text-decoration: line-through!important;
        }
    }



    &.open {
        &:not(.line-number) {
            background-color: @background-color-warning;
            color: white;
        }

        .linter-gutter {
            color: @background-color-warning;
        }

        .region {
            border-bottom: 1px dashed @background-color-warning;
        }
    }
}
